body{
	background-color:rebeccapurple;
}
.p-body {
width: 200px;
  height: 180px;
  background-color: #ff8c00; 
  border-radius: 50%;
  border-radius-top-left: 60%; 
  border-radius-top-right: 60%; 
  border-radius-bottom-left: 40%;
  border-radius-bottom-right: 40%;  
  position: relative; 
  margin: 20px auto;
}
.stem {
 width: 30px;
  height: 40px;
  background-color: #4CAF50;
  border-radius: 15px 15px 0 0;
  margin: -20px auto 0;
  position: relative;
  z-index: 1;
}

.l-eye {
width: 30px;
  height: 40px;
 border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid brown;
  position: absolute;
  top: 50px;
  border-radius: 50%;
  left: 50px;
  transform: translateX(-50%);
}

.r-eye {
width: 30px;
  height: 40px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid brown; 
  position: absolute;
  top: 50px;
  border-radius: 50%;
  Right: 50px;	
  transform: translateX(-50%);
}

.nose {
 width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid brown; 
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
}

.mouth {
 width: 120px;
  height: 40px;
  background-color: brown;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

.m-body {
	width:100;
	height:150;
background-color: black;
border: 4px darkgray;
position: absolute;
}

.legs {
	width:70;
	height:250;
	background-color:darkslategray;
	border:black;
	position: absolute;
}

.wp {
width:15;
hight:20;
bargound color:ghostwhite;
position:abosolute;
transform: translateX(-50%);
}


}