body {
    display: flex;
    justify-content: center;
    align-items: relative;
  
    height: 100vh;
    background-color: rebeccapurple;
    margin: 0;
}


.p-body {
width: 200px;
  height: 180px;
  background-color: #ff8c00; 
  border-radius: 50%;
  border-radius-top-left: 60%; 
  border-radius-top-right: 60%; 
  border-radius-bottom-left: 40%;
  border-radius-bottom-right: 40%;  
  position: relative; 
  margin: 20px auto;
}
.stem {
 width: 30px;
  height: 40px;
  background-color: #4CAF50;
  border-radius: 15px 15px 0 0;
  margin: 90px auto 0;
  position: relative;
  z-index: 1;
}

.l-eye {
width: 30px;
  height: 40px;
  border-top: 20px solid brown; 
  position: absolute;
  top: 50px;
  border-radius: 50%;
  left: 65px;
  transform: translateX(-50%);
}

.r-eye {
width: 30px;
  height: 40px;
  border-top: 20px solid brown; 
  position: absolute;
  top: 50px;
  border-radius: 50%;
  Right: 40px;	
  transform: translateX(-50%);
}

.nose {
 width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid brown; 
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
}

.mouth {
 width: 120px;
  height: 40px;
  background-color: brown;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

.m-body {
	width:100;
	height:150;
background-color: black;
border: 4px darkgray;
position: relative;

}

.legs {
	width:70;
	height:250;
	background-color:darkslategray;
	border:black;
	position: relative;
	
}

.tuxedo-man {
    width: 150px;
    height: 200px;
    background-color: black;
    position: relative;
    border-radius: 10px;
   
}

.tuxedo-man::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 140px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}


.tuxedo-man::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 15px;
    background-color: black;
    clip-path: polygon(0% 0%, 30% 50%, 0% 100%, 100% 100%, 70% 50%, 100% 0%);
}


.tuxedo-man div {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: gray;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.button1 { top: 70px; }
.button2 { top: 90px; }
.button3 { top: 110px; }